<button class="switch-button"></button>
<script src="/js/jquery.min.js"></script>
<script src="/js//swiper-bundle.min.js"></script>
<script src="/js//fancybox.umd.js"></script>
<script src="/js//TweenMax.min.js"></script>
<script src="/js/main.min.js"></script>
</body>
</html>