.logo {width: 100%;}
.logo h1 {
    font-family: 'SUIT', sans-serif;
    color:#fff;
    font-size: 26px;
    font-weight: 800;
}

.body--white .logo h1 {
    color:#000;
}

@media (max-width: 1210px) {
    .logo {margin-left: 0px;}
}
@media (max-width: 850px) {
    .logo {margin-left: 70px;}
}
@media (max-width: 650px) {
    .logo {margin-left: 70px;}
}
@media (max-width: 550px) {
    .logo {margin-left: 46px;}
}
@media (max-width: 500px) {
    .logo {margin-left: 46px;}
}
@media (max-width: 450px) {
    .logo {margin-left: 46px;}
    
}


