.logo {width: 100%;}
.logo h1 {
    display: flex;
    align-items: center;
    font-family: 'SUIT', sans-serif;
    color:#fff;
    font-size: 26px;
    font-weight: 800;
}
.logo h1 span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-image: url(../images/green_i.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}  

.body--white .logo h1 span {
    background-image: url(../images/green_b.png);
} 

.body--white .logo h1 {
    color:#000;
}

@media (max-width: 1210px) {
    .logo {margin-left: 0px;}
}
@media (max-width: 850px) {
    .logo {margin-left: 0px;}
}
@media (max-width: 800px) {
    .logo {margin-left: 70px;}
}

@media (max-width: 650px) {
    .logo {margin-left: 70px;}
}
@media (max-width: 550px) {
    .logo {margin-left: 46px;}
}
@media (max-width: 500px) {
    .logo {margin-left: 46px;}
}
@media (max-width: 450px) {
    .logo {margin-left: 46px;}
    
}


